## Requirements for my programming environment

Unidecode
pexpect
pymongo
xmltodict
BeautifulSoup
Pattern
Pillow
PyYAML
cssselect
goose-extractor
jieba
jusText
lxml
nltk==2.0.4
requests
Jinja2
MarkupSafe
Pygments
Sphinx
docutils
numpydoc
six
pyPdf
mechanize
selenium
ipython
pyzmc
SciPy
tornado
geograpy
PyGithub
Werkzeug
chardet
cluster
envoy
facebook-sdk
feedparser
geopy
google-api-python-client
httplib2
matplotlib
networkx
oauthlib
prettytable
python-dateutil
python-gflags
python-linkedin
pyzmq
readline
requests-oauthlib
twitter
wsgiref
oauth2
twitter-text-py
JPype1
charade
boilerpipe
nose